<div class="field">
   	<%%= f.label :nome %> 
   	<%%= f.text_field :nome %>
</div>
<div class="field">
   	<%%= f.label :acronimo %> 
   	<%%= f.text_field :acronimo %>
</div>


<div class="field">
	<%%= f.label :pais_id %> 
	<%%= f.select :pais_id, 
		  options_for_select( A::Pais.order('nome ASC').collect{ |c| [c.nome, c.id] }, f.object.pais_id ), 
			:prompt => '-- Select --' %>
</div>







