<%- 
@entity = MDWA::DSL.entity('Estado') 
@model = @entity.generator_model 
-%>
<%%= nested_form_for(@estado, :remote => true, :html => {:class => :mdwa_ajax ,:multipart => true}) do |f| %>

	<div id="mdwa_error">
	   	<%%= render '/template/mdwa/crud_error', :object => @estado %>
	</div>
	
	<div class="yui3-g">
		<div class="yui3-u">
			<%%= render 'form_fields', :f => f %>
  	  	</div>
	</div>

	<div class="actions">
		<%%= link_to t('system.cancel_button'), '#', :class => :cancel %> 
	    <%%= f.submit :class => :button %>
	</div>

<%% end %>