<div class="field">
   	<%%= f.label :nome, t('estados.edit.nome') %> 
   	<%%= f.text_field :nome %>
</div>
<div class="field">
   	<%%= f.label :acronimo, t('estados.edit.acronimo') %> 
   	<%%= f.text_field :acronimo %>
</div>





