<table class="list">
  <thead>
      <th class="list_show"><%%= t 'system.index_id' %></th>
      <th class="list_edit"><%%= t 'system.index_edit' %></th>
      <th><%%= t 'estados.index_nome' %></th>
      <th><%%= t 'estados.index_acronimo' %></th>
      <th><%%= t 'estados.index_pais' %></th>
      <th class="list_remove"><%%= t 'system.index_remove' %></th>
  </thead>

<%% @estados.each do |estado| %>
  <tr class="<%%= cycle 'odd_line', 'even_line' %>" >
    <td>
		<%%= link_to estado.id, a_estado_path(estado) , :class => 'lightbox various fancybox.ajax' %>
	</td>
  	<td>
		<%%= link_to t('system.index_edit_label'), edit_a_estado_path(estado) , :class => 'lightbox various fancybox.ajax' %>
	</td>
	<td>
		<%%= estado.nome %>
	</td>
	<td>
		<%%= estado.acronimo %>
	</td>
		
    <td>
        <%%= estado.pais.nome unless estado.pais.nil? %>
    </td>
    <td>
		<%%= link_to t('system.index_remove_label'), estado, :method => :delete, :remote => true, :data => {:confirm => t('system.index_confirm_deletion')} %>
	</td>
  </tr>
<%% end %>
</table>

<%%= pagination_footer @estados %>