<table class="list">
  <thead>
      <th class="list_show"><%%= t 'estados.index.id' %></th>
      <th class="list_edit"><%%= t 'estados.index.edit' %></th>
      <th><%%= t 'estados.index.nome' %></th>
      <th><%%= t 'estados.index.acronimo' %></th>
      <th class="list_remove"><%%= t 'estados.index.remove' %></th>
  </thead>

<%% @estados.each do |estado| %>
  <tr class="<%%= cycle 'odd_line', 'even_line' %>" >
    <td class="list_show">
		<%%= link_to estado.id, a_estado_path(estado) , :class => 'lightbox various fancybox.ajax' %>
	</td>
  	<td class="list_edit">
		<%%= link_to t('estados.index.edit_label'), edit_a_estado_path(estado) , :class => 'lightbox various fancybox.ajax' %>
	</td>
	<td>
		<%%= estado.nome %>
	</td>
	<td>
		<%%= estado.acronimo %>
	</td>
    <td class="list_remove">
		<%%= link_to t('estados.index.remove_label'), estado, :method => :delete, :remote => true, :data => {:confirm => t('estados.index.confirm_deletion')} %>
	</td>
  </tr>
<%% end %>
</table>

<%%= pagination_footer @estados %>