<div id="estados_index" class="mdwa_index">
	<div class="page_header">
		<h1><%%= t 'estados.title.index' %></h1>
		<div class="page_header_right_tab">
			<%%= link_to t('estados.index.add'), new_a_estado_path, :class => 'lightbox various fancybox.ajax' %>
		</div>
	</div>

	<div class="inside">

		<div class="topo">
			<div class="yui3-g">
				<%%= form_tag a_estados_path, :method => :get, :remote => true, :id => 'estados_filter_form' do %>

						<div class="yui3-u-1-5">
							<div class="field">
								<%%= label_tag :nome, t('estados.filtros.nome') %>
									<%%= text_field_tag :nome %>
							</div>
						</div>
						<div class="yui3-u-1-5">
							<div class="field">
								<%%= label_tag :acronimo, t('estados.filtros.acronimo') %>
									<%%= text_field_tag :acronimo %>
							</div>
						</div>


					<!-- Botão buscar -->
					<div class="yui3-u-1-5">
						<div class="field">
							<label>&nbsp;</label>
							<%%= submit_tag t('system.search_button'), :class => :button %>
						</div>
					</div>

				<%% end %>
			</div>
		</div>

		<div id="estados_list">
			<%%= render 'list' %>
		</div>
	</div>
</div>