<%- 
@entity = MDWA::DSL.entity('Estado') 
@model = @entity.generator_model 
-%>
<div id="estados_new" class="mdwa_new">
	<div class="page_header">
		<h1><%%= t('estados.new_title') %></h1>
	</div>

	<div class="inside">
		<%%= render 'form' %>
	</div>
</div>