<div id="estados_show" class="mdwa_show">
	<div class="page_header">
		<h1><%%= t('estados.title.show') %></h1>
	</div>

	<div class="inside">
		<div class="field">
			<label><%%= t 'estados.show.nome' %></label>
			<span><%%= @estado.nome %></span>
		</div>
		<div class="field">
			<label><%%= t 'estados.show.acronimo' %></label>
			<span><%%= @estado.acronimo %></span>
		</div>
		<div class="field">
			<label><%%= t 'estados.show.id' %></label>
			<span><%%= @estado.id %></span>
		</div>
		<div class="field">
			<label><%%= t 'estados.show.created_at' %></label>
			<span><%%= @estado.created_at %></span>
		</div>
		<div class="field">
			<label><%%= t 'estados.show.updated_at' %></label>
			<span><%%= @estado.updated_at %></span>
		</div>
		<div class="field">
			<label><%%= t 'estados.show.cidade' %></label>
			<span>
		        <ul>
		    	<%% @estado.cidades.each do |cidade| %>
		   	    	<li><%%= cidade.nome %> </li>
		    	<%% end %>
		        </ul>
		    
			</span>
		</div>
	</div>
</div>