<div class="field">
   	<%%= f.label :nome, t('cidades.edit.nome') %> 
   	<%%= f.text_field :nome %>
</div>
<div class="field">
   	<%%= f.label :latitude, t('cidades.edit.latitude') %> 
   	<%%= f.text_field :latitude %>
</div>
<div class="field">
   	<%%= f.label :longitude, t('cidades.edit.longitude') %> 
   	<%%= f.text_field :longitude %>
</div>
<div class="field">
   	<%%= f.label :populacao, t('cidades.edit.populacao') %> 
   	<%%= f.number_field :populacao %>
</div>






<div class="field">
	<%%= f.label :estado_id, t('cidades.edit.estado') %> 
	<%%= f.select :estado_id, 
		  options_for_select( A::Estado.order('nome ASC').collect{ |c| [c.nome, c.id] }, f.object.estado_id ), 
			:prompt => t('cidades.edit.estado_select') %>
</div>



