<table class="list">
  <thead>
      <th class="list_show"><%%= t 'cidades.index.id' %></th>
      <th class="list_edit"><%%= t 'cidades.index.edit' %></th>
      <th><%%= t 'cidades.index.estado' %></th>
      <th><%%= t 'cidades.index.nome' %></th>
      <th><%%= t 'cidades.index.populacao' %></th>
      <th class="list_remove"><%%= t 'cidades.index.remove' %></th>
  </thead>

<%% @cidades.each do |cidade| %>
  <tr class="<%%= cycle 'odd_line', 'even_line' %>" >
    <td class="list_show">
		<%%= link_to cidade.id, a_cidade_path(cidade) , :class => 'lightbox various fancybox.ajax' %>
	</td>
  	<td class="list_edit">
		<%%= link_to t('cidades.index.edit_label'), edit_a_cidade_path(cidade) , :class => 'lightbox various fancybox.ajax' %>
	</td>
    <td>
      <%%= cidade.estado.nome unless cidade.estado.nil? %>
  </td>
	<td>
		<%%= cidade.nome %>
	</td>
	<td>
		<%%= cidade.populacao %>
	</td>

    <td class="list_remove">
		<%%= link_to t('cidades.index.remove_label'), cidade, :method => :delete, :remote => true, :data => {:confirm => t('cidades.index.confirm_deletion')} %>
	</td>
  </tr>
<%% end %>
</table>

<%%= pagination_footer @cidades %>