<div id="cidades_index" class="mdwa_index">
	<div class="page_header">
		<h1><%%= t 'cidades.title.index' %></h1>
		<div class="page_header_right_tab">
			<%%= link_to t('cidades.index.add'), new_a_cidade_path, :class => 'lightbox various fancybox.ajax' %>
		</div>
	</div>

	<div class="inside">

		<div class="topo">
			<div class="yui3-g">
				<%%= form_tag a_cidades_path, :method => :get, :remote => true, :id => 'cidades_filter_form' do %>

						<div class="yui3-u-1-5">
							<div class="field">
								<%%= label_tag :id, t('cidades.filtros.id') %>
									<%%= text_field_tag :id, '', :onkeypress => "mascara(this, checaNumero)", :maxlength => 10 %>
							</div>
						</div>
						<div class="yui3-u-1-5">
							<div class="field">
								<%%= label_tag :nome, t('cidades.filtros.nome') %>
									<%%= text_field_tag :nome %>
							</div>
						</div>

						<div class="yui3-u-1-5">
							<div class="field">
								<%%= label_tag :estado, t('cidades.filtros.estado') %>
									<%%= render '/template/mdwa/autocomplete_tag', :dom_element => '#estado', :dom_element_id => '#estado_id', :data => A::Estado.all, :field_name => 'nome' %>
									<%%= text_field_tag :estado %>
									<%%= hidden_field_tag :estado_id %>
							</div>
						</div>

					<!-- Botão buscar -->
					<div class="yui3-u-1-5">
						<div class="field">
							<label>&nbsp;</label>
							<%%= submit_tag t('system.search_button'), :class => :button %>
						</div>
					</div>

				<%% end %>
			</div>
		</div>

		<div id="cidades_list">
			<%%= render 'list' %>
		</div>
	</div>
</div>