<div id="cidades_show" class="mdwa_show">
	<div class="page_header">
		<h1><%%= t('cidades.title.show') %></h1>
	</div>

	<div class="inside">
		<div class="field">
			<label><%%= t 'cidades.show.id' %></label>
			<span><%%= @cidade.id %></span>
		</div>
		<div class="field">
			<label><%%= t 'cidades.show.nome' %></label>
			<span><%%= @cidade.nome %></span>
		</div>
		<div class="field">
			<label><%%= t 'cidades.show.latitude' %></label>
			<span><%%= @cidade.latitude %></span>
		</div>
		<div class="field">
			<label><%%= t 'cidades.show.longitude' %></label>
			<span><%%= @cidade.longitude %></span>
		</div>
		<div class="field">
			<label><%%= t 'cidades.show.populacao' %></label>
			<span><%%= @cidade.populacao %></span>
		</div>
		<div class="field">
			<label><%%= t 'cidades.show.created_at' %></label>
			<span><%%= @cidade.created_at %></span>
		</div>
		<div class="field">
			<label><%%= t 'cidades.show.updated_at' %></label>
			<span><%%= @cidade.updated_at %></span>
		</div>
		<div class="field">
			<label><%%= t 'cidades.show.endereco' %></label>
			<span>
		        <ul>
		    	<%% @cidade.enderecos.each do |endereco| %>
		   	    	<li><%%= endereco.rua %> </li>
		    	<%% end %>
		        </ul>
		    
			</span>
		</div>
		<div class="field">
			<label><%%= t 'cidades.show.estado' %></label>
			<span>
		    	<%%= @cidade.estado.nome unless @cidade.estado.nil? %>
		    
			</span>
		</div>
	</div>
</div>